/* This file is used for specific customizations that i thought would
be hard to implement with bootstrap */
.text {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-weight: bold;
  }

.border-color {
  border-bottom: 3px solid #2D9CDB;
}

.titleButton {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-decoration: none; 
    width: 280px;
    height: 50px;
}


.navbar-content {
  padding: 0 15px 0 15px;
}


.dropdown-container{
  width: max-content !important;
  left: 0 !important;
  right: 0 !important;
  position: absolute !important;
  top: 100%;
  z-index: 1050;
  padding: 15px;
  background-color: #d6d6d6 !important;
}

.dropdown-link {
  color:#00567D;
  font-size: 13px;
}

.dropdown-container .row {
  display: inline-flex;
  align-items: flex-start;
}

.dropdown-menu {
  background-color: #d6d6d6 !important;
  color:#00567D;
  font-size: 13px;
}
.no-wrap {
  white-space: nowrap;
}

.nav-link {
  color: #aaaaaa;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-decoration: none !important;
}

.button-style {
  border-radius: 0px;
}

